asgiref==3.3.1
Django==3.0.1
django-mssql-backend==2.8.1
pyodbc==4.0.30
pytz==2020.5
sqlparse==0.4.1
requests
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
PyJWT==1.7.1
python-dateutil
arrow
django-cors-headers
pyyaml
django_redis
uritemplate
drf-yasg
dicttoxml
pyhumps
xmltodict
